.tabla {
  width: 100%;
  height: 88%;
  overflow-y: scroll;
}

.tabla th, .table td{
    @apply border border-gray-300 px-16 py-2 text-center;
}

.tabla th{
    @apply  border-gray-300 text-white bg-indigo-400 p-3  text-center;
}

.tabla tr:nth-child(even){
    @apply bg-gray-200;
}
.tabla tr:hover {
    @apply bg-indigo-200 cursor-pointer;
}

.Input {
    @apply bg-gray-50 border border-gray-200 m-1 p-3 rounded-lg appearance-none relative block px-3 py-2 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
}
/*
.tabla td,
.tabla th {
  padding: 8px;
  border: 1px solid rgba(221, 221, 221, 0.171);
}

.tabla th {
  background-color: #2882d6;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla tr:hover {
  background-color: #ddd;
}
*/